<!-- <div>
  <form [FormGroup]="profileForm" (ngSubmit)="upload()">
    <input type="text" name="name" formControlName="name" placeholder="Name" /> -->
<!-- <input
      type="number"
      name="mobile"
      [(ngModel)]="number"
      placeholder="Mobile"
    /> -->

<!-- <input type="email" name="email" placeholder="Email" />
<input type="password" name="password" placeholder="password" /> -->
<!-- <input
      type="file"
      id="file"
      (change)="onFileSelected($event)"
      name="image"
      formControlName="name"
      placeholder="Image"
    /> -->

<!-- <button (click)="upload()">Submit</button> -->

<!-- <button>Submit</button> -->
-->
<!-- </form>
</div> -->
