<!-- <h3>Enter Your Details</h3>
<div class="main">
  <label for="Name"
    >Name:<input type="name" [(ngModel)]="name" placeholder="Enter Name"
  /></label>
  <label for="Mobile"
    >Mobile :<input
      type="number"
      [(ngModel)]="mobile"
      id="mobile"
      placeholder="Enter Mobile Number"
  /></label>
  <label for="Email"
    >Email:<input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Enter Email"
  /></label>
  <label for="password"
    >Passoword:<input
      type="email"
      [(ngModel)]="password"
      name="password"
      placeholder="Enter password"
  /></label>

  <input type="file" (change)="onFileSelected($event)" />
  <br />
  <button (click)="upload()">Submit</button>
</div> -->
<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <h3>Enter Your Login Details</h3>

        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input
            type="text"
            class="login__input"
            placeholder="Name"
            [(ngModel)]="name"
            name="name"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input
            type="number"
            class="login__input"
            placeholder="Mobile Number"
            [(ngModel)]="mobile"
            name="mobile"
          />
        </div>

        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input
            type="email"
            class="login__input"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            id="email"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input
            type="password"
            class="login__input"
            placeholder="Password"
            [(ngModel)]="password"
            id="password"
            name="password"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="file" (change)="onFileSelected($event)" />
        </div>
        <button class="button login__submit" (click)="upload()">
          <span class="button__text">Register</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <div class="social-icons"></div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
